<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Redemption Songs</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- COPIED FROM GETBOOTSTRAP.COM
 -->
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font Awesome link copied from bootstrapcdn.com/fontawesome -->

  	<link rel="stylesheet" type="text/css" href="css/style.css"> <!-- This is our own unique stylesheet that may add to and overwrite any previous bootstrap stylings. -->

  	<link rel="stylesheet" type="text/css" href="css/border.css"> <!-- This is the button border effects. -->

  	<link href="https://fonts.googleapis.com/css?family=Archivo|Oswald|Indie+Flower|Josefin+Sans|PT+Sans+Narrow|Sedgwick+Ave+Display|Slabo+27px|Abel" rel="stylesheet"> <!-- Google fonts link -->

  	

  	<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">

	<!-- This is for the contact form -->
  	<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="css/form.css">
   	<link rel="stylesheet" type="text/css" href="css/modal.css">

</head>
<body>
	<header>
			<div id="goldhead" class="row">
			    <div class="col-xs-4">

			        <p id="navi"><a href="/">Home</a> || <a href="/#articles">Articles</a> || About || Contact</p>
			    </div>
			    <div class="col-xs-4">
			        
			        <h1>New Directions</h1>
					
					
	        
	   			</div>
			    <div class="col-xs-4">
			        
				    <p id="navi2"><a href="">Sign In</a> || <a href="">Sign Up</a> || <a href="/profile">My Profile<br>
			       	<a href="/#support-group">Join A Support Group:</a><p>
			       	<!-- This will be a bookmark linked to a section within the home page. -->

			    </div>
	  		</div>
	</header>	
	{{{body}}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>