<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Redemption Songs</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- COPIED FROM GETBOOTSTRAP.COM
 -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Font Awesome link copied from bootstrapcdn.com/fontawesome -->

    <link rel="stylesheet" type="text/css" href="css/style.css"> <!-- This is our own unique stylesheet that may add to and overwrite any previous bootstrap stylings. -->

    <link rel="stylesheet" type="text/css" href="css/border.css"> <!-- This is the button border effects. -->

    <link href="https://fonts.googleapis.com/css?family=Archivo|Oswald|Indie+Flower|Josefin+Sans|PT+Sans+Narrow|Sedgwick+Ave+Display|Slabo+27px|Abel" rel="stylesheet"> <!-- Google fonts link -->

    

    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">

  <!-- This is for the contact form -->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">

</head>
<body>
  <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="">Overcome!</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">Home</a></li>
          <li><a href="">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                            <div class="col-lg-12">
                                <div class="text-center"><h3><b>Register</b></h3></div>
                <form id="ajax-register-form" role="form" id="signup" name="signup" method="post" action="/signup" autocomplete="off">
                  {{!-- <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div> --}}
                  <div class="form-group">
              <input type="text" name="firstname" class="form-control text" tabindex="2" id="firstname" placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <input type="text" name="lastname" class="form-control text" tabindex="2" id="lastname" placeholder="Enter your last name">
            </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" tabindex="4" class="form-control" placeholder="Email Address" value="">
                  </div>

                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="4" class="form-control" placeholder="Password">
                  </div>
                  {{!-- <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div> --}}
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-6 col-xs-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Sign Up">
                      </div>
                    </div>
                  </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                </form>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="http://phpoll.com/login" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                            <div class="col-lg-12">
                                <div class="text-center"><h3><b>Log In</b></h3></div>
                                <form id="ajax-login-form" role="form" name="signin" method="post" action="signin" autocomplete="off">
                                    <div class="form-group">
                                        <label for="email"><span class="glyphicon glyphicon-user"></span>Username</label>
                                        <input type="text" name="email" id="username" tabindex="1" class="form-control text" placeholder="Enter your email" value="" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <input type="checkbox" tabindex="3" name="remember" id="remember">
                                                <label for="remember"> Remember Me</label>
                                            </div>
                                            <div class="col-xs-5 pull-right">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Sign In">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                                </form>
                            </div>
                        </ul>
                    </li>
                </ul>
      </div>
    </div>
  </nav>
  </header>
  
  {{{body}}}

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>