<p>This is our support group page for drug addiction.</p>
User should select:
1. Here for Myself
2. Here for a Loved One 
	a. significant other
	b. child 
	c. parent/grandparent
	d. sibling
	e. aunt/uncle/neice/nephew
	f. friend

[If user here for addition: We should record what it is they are addicted to: Check all that applies
1. Cigarettes/Smoking
2. Alcohol
3. Cocain
4. Meth
5. Heroin
6. Prescription Pain Meds
7. Other: __________]