    
  <header>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
				<a class="navbar-brand" href="./">Overcome!</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="">Home</a></li>
					<li><a href="">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown"><span>{{user}}</span><span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                            <div class="col-lg-12">
                                <div class="text-center"><h3><b>You are logged in</b></h3></div>
								<form id="ajax-register-form" id="logout" name="logout" action="/logout">
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6 col-xs-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="log out">
											</div>
										</div>
									</div>
                                    <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
								</form>
                            </div>
                        </ul>
                    </li>       </form>
                            </div>
                        </ul>
                    </li>
                </ul>
			</div>
		</div>
	</nav>
	</header>c
<section id="contact">
			<div class="section-content">
				<h1 class="section-header">Let us know<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Your Story</span></h1>
				<h3>Your truth and someone else's truth is linked by the same path to salvation.</h3>
			</div>
			<div class="contact-section">
			<div class="container">
				<form action="/{{id}}?_method=PUT" method="POST" class="button-size">
					<div class="col-md-6 form-line">
			  			
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Picture </label>
					    	<input type="url" class="form-control" name="avatarImg" placeholder=" Paste a link to your picture">
					  	</div>	
					  	<div class="form-group">
					    	<label for="telephone">Location</label>
					    	<input type="text" class="form-control" name="location" placeholder="What city and state are you from?">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Facebook</label>
					    	<input type="url" class="form-control" name="facebook" placeholder="Paste a link to your FaceBook profile">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Instagram</label>
					    	<input type="url" class="form-control" name="instagram" placeholder="Paste a link to your Instagram profile">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Linked In</label>
					    	<input type="url" class="form-control" name="linkedIn" placeholder="Paste a link to your LinkedIn profile">
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description">What's Your Story? </label>
			  			 	<textarea  class="form-control" name="story" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div class="form-group">
			  				<label for ="description">How did you overcome? </label>
			  			 	<textarea  class="form-control" name="solution" placeholder="What steps did you take to overcome your tribulation?"></textarea>
			  			</div>
			  			<div>

			  				<button id="createButton" type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Create Profile</button>
			  			</div>
			  		
					</div>
				</form>
			</div>
		</section>