    
  
<section id="contact">
			<div class="section-content">
				<h1 class="section-header">Let us know<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Your Story</span></h1>
				<h3>Your truth and someone else's truth is linked by the same path to salvation.</h3>
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Your name</label>
					    	<input type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Picture </label>
					    	<input type="email" class="form-control" id="profilePic" placeholder=" Paste a link to your picture">
					  	</div>	
					  	<div class="form-group">
					    	<label for="telephone">Location</label>
					    	<input type="tel" class="form-control" id="location" placeholder="What city and state are you from?">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Facebook</label>
					    	<input type="tel" class="form-control" id="facebook" placeholder="Paste a link to your FaceBook profile">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Instagram</label>
					    	<input type="tel" class="form-control" id="instagram" placeholder="Paste a link to your Instagram profile">
			  			</div>
			  			<div class="form-group">
					    	<label for="telephone">Linked In</label>
					    	<input type="tel" class="form-control" id="linkedIn" placeholder="Paste a link to your LinkedIn profile">
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description">What's Your Story? </label>
			  			 	<textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div class="form-group">
			  				<label for ="description">How did you overcome? </label>
			  			 	<textarea  class="form-control" id="description" placeholder="What was your road to redemption? If you're still suffering and are in need of guidance, leave this field blank and reach out to members of our community who have been where you are."></textarea>
			  			</div>
			  			<div>

			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Create Profile</button>
			  			</div>
			  			
					</div>
				</form>
			</div>
		</section>