	<section>
		<div class="container sectImg">
			<div class="sectHeader">
				<h2> Join a Support Group </h2>
				<p class="tag">Meet people who have survived your tribulation, and LIVED to TALK about it.</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="/cancer-support"><img class="supportPics" src="./images/survive-cancer.jpg"></a>
					</div>
					<div class="caption">
						<a href="/cancer-support">Surviving Cancer</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="addiction-support"><img class="supportPics" src="./images/addiction.jpg"></a>
					</div>
					<div class="caption">
						<a href="addiction-support">Surviving Drug Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="/abuse-victims-support"><img class="supportPics" src="./images/domestic-violence.jpg"></a>
					</div>
					<div class="caption">
						<a href="/abuse-victims-support">Surviving Domestic Violence</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<br>
	<br>
	<section> 
		<div class="container sectImg2">
			<div class="sectHeader" id="articles">
				<h2> Related News </h2>
				<p class="tag">Been there. Survived that.</p>
			</div>
		</div>
		<div class="container" id="articleDisplay">
			<div class="row">
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://indianexpress.com/article/lifestyle/life-style/delhi-boy-designs-app-that-helps-people-fight-drug-addiction-3068594/" target="_blank"><img class="articlePics" src="./images/dheli.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://indianexpress.com/article/lifestyle/life-style/delhi-boy-designs-app-that-helps-people-fight-drug-addiction-3068594/" target="_blank" class="aArt">Kid Creates App that Helps Fight Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.nydailynews.com/entertainment/music/travis-barker-blink-182-drummer-opens-drug-addiction-article-1.3174679" target="_blank"><img class="articlePics" src="./images/travisBarker.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.nydailynews.com/entertainment/music/travis-barker-blink-182-drummer-opens-drug-addiction-article-1.3174679" target="_blank" class="aArt">Travis Barker Opens Up About Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.naturalnewsblogs.com/breast-cancer-survivor-says-raw-food-diet-helped-heal/" target="_blank"><img class="articlePics" src="./images/breast-cancer.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.naturalnewsblogs.com/breast-cancer-survivor-says-raw-food-diet-helped-heal/" target="_blank" class="aArt">6 Months to Live: Beat Cancer with Raw Food Diet</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="https://thetruthaboutcancer.com/triple-negative-breast-cancer-treatment-options/" target="_blank"><img class="articlePics" src="./images/truthAboutCancer.jpg"></a>
					</div>
					<div class="caption2">
						<a href="https://thetruthaboutcancer.com/triple-negative-breast-cancer-treatment-options/" target="_blank" class="aArt">Tripple Negative Breast Cancer Treatment Options</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://extratv.com/2016/10/10/taraji-p-henson-opens-up-about-surviving-domestic-violence-her-new-memoir-and-more/" target="_blank"><img class="articlePics" src="./images/taraji.png"></a>
					</div>
					<div class="caption2">
						<a href="http://extratv.com/2016/10/10/taraji-p-henson-opens-up-about-surviving-domestic-violence-her-new-memoir-and-more/" target="_blank" class="aArt">Taraji Opens Up About Domestic Violence</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.vladtv.com/article/231833/chris-brown-on-rihanna-she-would-hit-me-and-i-would-hit-her-it-wasnt-ok" target="_blank"><img class="articlePics" src="./images/chris-rhiana.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.vladtv.com/article/231833/chris-brown-on-rihanna-she-would-hit-me-and-i-would-hit-her-it-wasnt-ok" target="_blank" class="aArt">Chris Brown Details the Night He Hit Rhianna</a> 
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</section>
	
	<section>
		<div class="container" id="Emergency">
			<div class="sectHeader">
				<h2>Local Support </h2>
				<p class="tag">These are the People and Places in Your Area that Will Care for You.</p>
			</div>
		</div>
	</section>
	


