	<header>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
				<a class="navbar-brand" href="">Overcome!</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="">Home</a></li>
					<li><a href="">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://phpoll.com/register" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                            <div class="col-lg-12">
                                <div class="text-center"><h3><b>Register</b></h3></div>
								<form id="ajax-register-form" role="form" id="signup" name="signup" method="post" action="/signup" autocomplete="off">
									{{!-- <div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div> --}}
                  <div class="form-group">
              <input type="text" name="firstname" class="form-control text" tabindex="2" id="firstname" placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <input type="text" name="lastname" class="form-control text" tabindex="2" id="lastname" placeholder="Enter your last name">
            </div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="4" class="form-control" placeholder="Email Address" value="">
									</div>

									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="4" class="form-control" placeholder="Password">
									</div>
									{{!-- <div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div> --}}
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6 col-xs-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Sign Up">
											</div>
										</div>
									</div>
                                    <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
								</form>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="http://phpoll.com/login" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                            <div class="col-lg-12">
                                <div class="text-center"><h3><b>Log In</b></h3></div>
                                <form id="ajax-login-form" role="form" name="signin" method="post" action="signin" autocomplete="off">
                                    <div class="form-group">
                                        <label for="email"><span class="glyphicon glyphicon-user"></span>Username</label>
                                        <input type="text" name="email" id="username" tabindex="1" class="form-control text" placeholder="Enter your email" value="" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <input type="checkbox" tabindex="3" name="remember" id="remember">
                                                <label for="remember"> Remember Me</label>
                                            </div>
                                            <div class="col-xs-5 pull-right">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Sign In">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                                </form>
                            </div>
                        </ul>
                    </li>
                </ul>
			</div>
		</div>
	</nav>
	</header>
	
		<section>
		<div class="container sectImg">
			<div class="sectHeader">
				<h2> Join a Support Group </h2>
				<p class="tag">Meet people who have survived your tribulation, and LIVED to TALK about it.</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="/cancer-support"><img class="supportPics" src="./images/survive-cancer.jpg"></a>
					</div>
					<div class="caption">
						<a href="/cancer-support">Surviving Cancer</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="addiction-support"><img class="supportPics" src="./images/addiction.jpg"></a>
					</div>
					<div class="caption">
						<a href="addiction-support">Surviving Drug Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					<div>
						<a href="/abuse-victims-support"><img class="supportPics" src="./images/domestic-violence.jpg"></a>
					</div>
					<div class="caption">
						<a href="/abuse-victims-support">Surviving Domestic Violence</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<br>
	<br>
	<section> 
		<div class="container sectImg2">
			<div class="sectHeader" id="articles">
				<h2> Related News </h2>
				<p class="tag">Been there. Survived that.</p>
			</div>
		</div>
		<div class="container" id="articleDisplay">
			<div class="row">
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://indianexpress.com/article/lifestyle/life-style/delhi-boy-designs-app-that-helps-people-fight-drug-addiction-3068594/" target="_blank"><img class="articlePics" src="./images/dheli.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://indianexpress.com/article/lifestyle/life-style/delhi-boy-designs-app-that-helps-people-fight-drug-addiction-3068594/" target="_blank" class="aArt">Kid Creates App that Helps Fight Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.nydailynews.com/entertainment/music/travis-barker-blink-182-drummer-opens-drug-addiction-article-1.3174679" target="_blank"><img class="articlePics" src="./images/travisBarker.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.nydailynews.com/entertainment/music/travis-barker-blink-182-drummer-opens-drug-addiction-article-1.3174679" target="_blank" class="aArt">Travis Barker Opens Up About Addiction</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.naturalnewsblogs.com/breast-cancer-survivor-says-raw-food-diet-helped-heal/" target="_blank"><img class="articlePics" src="./images/breast-cancer.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.naturalnewsblogs.com/breast-cancer-survivor-says-raw-food-diet-helped-heal/" target="_blank" class="aArt">6 Months to Live: Beat Cancer with Raw Food Diet</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="https://thetruthaboutcancer.com/triple-negative-breast-cancer-treatment-options/" target="_blank"><img class="articlePics" src="./images/truthAboutCancer.jpg"></a>
					</div>
					<div class="caption2">
						<a href="https://thetruthaboutcancer.com/triple-negative-breast-cancer-treatment-options/" target="_blank" class="aArt">Tripple Negative Breast Cancer Treatment Options</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://extratv.com/2016/10/10/taraji-p-henson-opens-up-about-surviving-domestic-violence-her-new-memoir-and-more/" target="_blank"><img class="articlePics" src="./images/taraji.png"></a>
					</div>
					<div class="caption2">
						<a href="http://extratv.com/2016/10/10/taraji-p-henson-opens-up-about-surviving-domestic-violence-her-new-memoir-and-more/" target="_blank" class="aArt">Taraji Opens Up About Domestic Violence</a> 
					</div>
				</div>
				<div class="col-xs-4 grpDiv">
					
					<div>
						<a href="http://www.vladtv.com/article/231833/chris-brown-on-rihanna-she-would-hit-me-and-i-would-hit-her-it-wasnt-ok" target="_blank"><img class="articlePics" src="./images/chris-rhiana.jpg"></a>
					</div>
					<div class="caption2">
						<a href="http://www.vladtv.com/article/231833/chris-brown-on-rihanna-she-would-hit-me-and-i-would-hit-her-it-wasnt-ok" target="_blank" class="aArt">Chris Brown Details the Night He Hit Rhianna</a> 
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</section>
	
	<section>
		<div class="container" id="Emergency">
			<div class="sectHeader">
				<h2>Local Support </h2>
				<p class="tag">These are the People and Places in Your Area that Will Care for You.</p>
			</div>
		</div>
	</section>
	


