	
	
	<section id="tagLine">
	<p id="tag">Meet people who have survived your tribulation and LIVE to TALK about it</p>		
	</section>
	<section>
		
		<h2 id="support-group"> Join a support group: </h2>
		
		<a href="addiction-support">Surviving Drug Addiction</a>  || <a href="cancer-support">Surviving Cancer</a> || <a href="/abuse-victims-support">Surviving Domestic Violence</a>   ||  <a href="mental-health-support">Surviving Suicidal Thoughts</a> 
		
	</section>
	<section id="articleDisplay">
		
		
		
	</section>
	<section>
		
		<h2> Your local facilities to support you in your time of need.</h2>
		
	</section>
	


