<div class="container">
<h1>Robert Downy Jr.</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
    	<div>
    		<img class="profilePic" src="./images/robertdj.jpg">
    	</div>
   		 <h5 class="location">From: Manhattan, NY</h5>
		<div>
			<p>You can reach me:</p>
			<a href=https://www.facebook.com/robertdowneyjr/><img src="./images/social1.png" class="socialMedia"></a>
			<a href="https://www.instagram.com/robertdowneyjr/?hl=en"><img src="./images/social2.png" class="socialMedia"></a>
			<a href="https://www.linkedin.com/in/robertdowneyjunior/"><img src="./images/social3.png" class="socialMedia"></a>
		</div>
		<div class="member">
			<p> I am a member of:</p>
			<p><a href="/addiction">Surviving Addiction</a></p>
			<p><a href="domestic">Surviving Domestic Abuse</a></p>
		</div>
		

  	</div>
	<div class="col-xs-6">
		<h4 class="blog-title">My Story</h4>
		<p> I was born in the city of New York, where hustlers hustled harder than any place else and the people partied even harder. I got into acting and exposed to social scene where drug use was just apart of life..........</p>
		<h4 class="blog-title">My Solution</h4>
		<p> The moment I knew it was time for things to change is when..........</p>
	</div>
	<div class="col-xs-3">
		<div class="contact">
			<p>I am a counselor.<br>
			Online Status: </p>

			<p>Schedule an phone consultation or online video chat with me <a href="">Click Here!</a></p>
		</div>
		
		
	</div>
  </div>
</div>



